@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dark {
  --primary-color: #111111;
  --secondary-color: #808080;
  --hover-sidebar: #343434;
  --text-color: rgb(255, 255, 255);
  --bg-code-editor:#1e1e1e;
}

.editorPage {
  height: 100svh;
  width: 100svw;
  display: flex;
  color: var(--text-color);
}

/* sidebar */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: var(--primary-color);
  border-right: 3px solid var(--hover-sidebar);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  font-size: 26px;
  padding: 20px;
  border-bottom: 3px solid var(--hover-sidebar);
}

.sidebarTop {
  width: 100%;
}

.userList {
  padding: 20px;
}
.list{
  height: calc(100vh - 239px);
  overflow-y: auto;
}

.user {
  margin: 10px 0;
  transition: 0.3s all ease;
}

.username {
  margin-left: 10px;
}

.bottomButtons {
  width: 100%;
  display: flex;
  align-items: center;
}

.leave {
  padding: 10px;
  width: 100%;
  margin: 20px;
  background-color: #cb2b2b;
  color: white;
  border-radius: 10px;
  border: 3px solid #cb2b2b;
  transition: 0.6s ease;
  font-weight: 600;
  font-size: 15px;
}

.leave:hover {
  font-weight: 600;
  cursor: pointer;
  border: 3px solid #cb2b2b;
  background-color: transparent;
  color: #cb2b2b;
}

/* editor */
.editor {
  width: calc(100vw - 250px);
  background-color: var(--primary-color);
  position: relative;
}

.editorNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  border-bottom: 3px solid var(--hover-sidebar);
  padding: 0 20px;
}

.leftbuttons {
  display: flex;
}

.share {
  background-color: #188bf6;
  color: white;
  padding: 6px 20px;
  border: 2px solid #188bf6;
  border-radius: 10px;
  font-weight: 600;
  margin: 5px;
  transition: 0.3s ease;
}

.share:hover {
  cursor: pointer;
  color: #188bf6;
  background-color: transparent;
}

.execute {
  margin: 5px;
  background-color: #bce613;
  color: black;
  font-weight: 600;
  padding: 6px 20px;
  border: 2px solid #bce613;
  transition: 0.3s ease;
  border-radius: 10px;
}

.execute:hover {
  cursor: pointer;
  border: 2px solid #bce613;
  background-color: transparent;
  color: #bce613;

}

.select {
  margin: 5px;
  background-color: #bce613;
  color: black;
  font-weight: 600;
  padding: 6px 10px 6px 20px;
  display: flex;
  align-items: center;
  border: 2px solid #bce613;
  border-radius: 10px;
  outline: none;
  transition: 0.3s ease;
}

.select:hover {
  cursor: pointer;
  background-color: transparent;
  color: #bce613;
}

.dropdown {
  position: absolute;
  z-index: 20;
  top: 60px;
  right: 18px;
  display: flex;
  flex-direction: column;
  margin: 8px;
  border-radius: 7px;
  padding: 7px 0;
  background-color: #bce613;
  transition: 0.3s ease;
}

.dropdowns {
  background-color: #bce613;
  color: #111111;
  font-weight: 600;
  padding: 6px 30px;
  z-index: 10;
  outline: none;
  margin: 0;
  border: none;
  transition: 0.3s ease;
}

.dropdowns:hover {
  cursor: pointer;
  background-color: #abd113;
}



.editorBody {
  height: calc(100vh - 82px) !important;
  position: relative;
}

/* input panel */
.inputPanel {
  padding: 10px 0 0 10px;
}

#input {
  font-size: 16px;
  background-color: var(--primary-color);
  display: block;
  resize: none;
  color: white;
  outline: none;
  border: none;
  width: 100%;
  height: calc(100% - 23px);
}

#input:focus {
  outline: none;
  /* Remove default focus outline */

}

.handle {
  height: 3px;
  background-color: var(--hover-sidebar);
  transition: all 0.3s ease;
}

/* .handle:hover {
  background-color: #188bf6;
  height: 6px;
} */

.handle[data-resize-handle-state="drag"]{
  background-color: #188bf6;
  height: 6px;
}
.vHandle{
  width: 3px;
  background-color: var(--hover-sidebar);
  transition: all 0.3s ease;
}
.vHandle[data-resize-handle-state="drag"]{
  background-color: #188bf6;
  width: 6px;
}

.outputPanel{
  padding: 10px 0 0 10px;
}
/* front end code */
.fileName{
  background-color: var(--bg-code-editor);
  display: inline-block;
  padding: 10px 10px 5px 10px;
  margin: 10px 0 0 10px;
  border-radius: 6px 6px 0 0;
  display: flex;
  align-items: center;
  width: fit-content;
}
.fileIcon{
  height: 20px;
  padding-right: 10px;
}